.header{font: size 60 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
    ;background-color:white;
text-align: center;
text-decoration-color: darkred;
width: 200px;
height: 100px;}