.header{font: size 60 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
    ;background-color:white;
text-align: right;
color:black;
width: 200px;
height: 100px;}

.intro{}